In [1]:
%load_ext autoreload
%autoreload 2

In [43]:
import pandas as pd

from process import preprocess, iteration_inference, processor

In [3]:
pd.set_option('display.max_colwidth', 300)

In [15]:
df = pd.read_parquet("../data/raw/test.parquet")

In [16]:
df

,title,content
0,오픈메이트 컨설턴트 모집,"자격 요건 : \n 파이썬, R 고급 사용자\n 공공 및 대기업 빅데이터 프로젝트 수행 및 제안서 작성 경험자 우대\n 위치기반 데이터 분석 경험\n"
1,로앤컴퍼니 데이터 분석가 모집,자격 요건 : \n 스타트업 경험자 우대\n GA 및 다양한 고객 행동 데이터 분석 경험 우대\n 자연어 처리 능력자 우대\n
2,잡코리아 데이터 사이언티스트,자격 요건 : \n 추천 및 검색 프로젝트 경험자\n 유저 행동 기반 모델링 경험자\n K8S 등 다양한 환경에서 ML프로젝트 경험자\n MLOps 구축 경험\n LLM 및 RAG 경험자 우대\n AI Agent를 활용한 서비스 배포 경험\n

In [50]:
df = preprocess(file_name = "test")

Running step: get_text_col
Running step: remove_duplicates

In [52]:
print("GLiNER 모델 결과")
iteration_inference(df, "test", model = "gliner")

GLiNER 모델 결과

,task,tool,license,major,work,job,company,key,skill
0,"[데이터 분석, 빅데이터 프로젝트 수행, 제안서 작성]",[R],"[고급 사용자, 위치기반, 자격 요건]",[파이썬],[],[오픈메이트 컨설턴트],"[공공, 공공 및 대기업, 대기업]",,NaN
0,"[GA, 다양한 고객 행동, 데이터 분석]",NaN,[자격 요건],NaN,[스타트업 경험자],"[데이터 분석, 데이터 분석가]",[로앤컴퍼니],,[자연어 처리 능력자]
0,[MLOps],"[AI Agent, AI Agent를]",NaN,"[K8S, LLM, RAG]","[ML프로젝트 경험자, 프로젝트 경험자]",[데이터 사이언티스트],[],,NaN

In [54]:
print("LLM 모델 결과 - QWEN2.5:14b")
iteration_inference(df, "test", model = "llm")

LLM 모델 결과 - QWEN2.5:14b

/Users/chanjunkim/Documents/NER_PROJECT/src/inference/llm/get_llm.py:37: LangChainDeprecationWarning: The class `ChatOllama` was deprecated in LangChain 0.3.1 and will be removed in 1.0.0. An updated version of the class exists in the :class:`~langchain-ollama package and should be used instead. To use it run `pip install -U :class:`~langchain-ollama` and import as `from :class:`~langchain_ollama import ChatOllama``.
  llm = ChatOllama(

,company,job,industry,exprience,tool,softskill,location,key
1,[오픈메이트],"[데이터분석가, 컨설턴트]","[빅데이터, IT 컨설팅]","[빅데이터 프로젝트 수행, 공공기관 데이터 분석, 대기업 빅데이터 프로젝트 수행]","[Python, R, SQL]","[꼼꼼함, 논리적 사고력, 팀워크]",[서울특별시],
1,[로앤컴퍼니],[데이터 분석가],"[IT, 데이터]","[스타트업 경험, GA 및 고객 행동 데이터 분석]",[GA],"[자연어 처리 능력, 꼼꼼함, 성실함]",[서울특별시],
1,[잡코리아],[데이터 사이언티스트],"[금융, IT]","[추천 및 검색 프로젝트 경험, 유저 행동 기반 모델링 경험, K8S 등 다양한 환경에서 ML프로젝트 경험, MLOps 구축 경험, LLM 및 RAG 경험, AI Agent를 활용한 서비스 배포]","[Python, SQL, Kubernetes, Docker, Jupyter Notebook]","[꼼꼼함, 성실함, 부지런함, 적응력]",[서울특별시],